@import 'tailwindcss';
.custom-container{
    width: 100%;
    background: url('/images/bg.png' );
    background-size: cover;
}
@media screen and (max-width: 640px) {
    .custom-container{
        background: #111 ;
        background-size: cover;
    }
    
}
@font-face {
    font-family: Mont;
    src: url(/fonts/Cocogoose-Pro-Bold-trial.ttf);
}
/***********Tailwind Directives for Sidebar Component***************/
@layer components {
    .sideBut{
        @apply w-full transition duration-300 rounded-lg mt-1.5 py-1.5 hover:bg-green-400 hover:text-gray-950 pl-2 cursor-pointer;
    }
    .sideBut i{
        @apply text-gray-500 mr-2;
    }
    .actionButton{
        @apply hover:text-gray-900 hover:bg-green-400 transition-all duration-300 cursor-pointer text-gray-50 rounded-full bg-[#cccccc31] flex w-[50px] h-[50px] items-center justify-center mx-1;
    }
}

.scrollbar-hide{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
}